footer {
  background-color: #161619;
  max-width: 320px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-decoration: none;
}

.btn-foot {
  background-color: #918e9b;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a:hover,
a:focus,
a:active,
a:visited,
a:link {
  text-decoration: none;
}
