.interests-section {
  max-width: 320px;
  max-height: 520px;
  display: flex;
  flex-wrap: wrap;
  background-color: #1a1b21;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
}

.interests-text {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #f5f5f5;
  font-size: 16px;
  margin: auto;
  padding-top: 12px;
}

.interests-content {
  color: #dcdcdc;
  font-size: 11px;
}
